extends core/sidebar

block append head
  title Device List

  link(rel='import', href='/public/polymers/device-card.html')


block sidebar
  div.card.card-default
    div.card-content
      button.btn.btn-block.btn-success.btn-lg
        span.glyphicon.glyphicon-plus-sign
        | &nbsp;Add Device

block content
  div.row
    div.col-md-12
      h1.page-title Device List

      div#device-list


block append footer
  script.
    function renderDevice(device) {
      $.ajax('/api/v1/device-templates/' + device.templateId, {
        success: function(template) {
          var ele = document.createElement('device-card');
          ele.device = device;
          ele.template = template;
          ele.unassignable = true;
          $("#device-list").append(ele);

          ele.addEventListener('unassign', function() {
            $(ele.getRootElement()).fadeTo(400, 0.0, function() {
              $(ele).slideUp(function() {
                ele.parentNode.removeChild(ele);
              });
            });
          });
        }
      });
    }

    $(document).ready(function() {
      $.ajax('/api/v1/devices', {
        success: function(data) {
          data.forEach(function(device) {
            renderDevice(device);
          });
        }
      })
    });