extends base.pug

block head
  style.
    #sidebar-pane, #content-pane {
      overflow-y: auto;
      padding-top: 20px;
    }

    #sidebar-pane {
      /*border-right: 1px solid #aaa;*/
    }

    nav.navbar {
      margin-bottom: 0px;
    }

    .page-title {
      margin-top: 0px;
    }

block body
  div.row
    div.col-md-3#sidebar-pane
      block sidebar
    div.col-md-9#content-pane
      block content


block footer
  script.
    function onWindowResize() {
      var height = $(window).height() - $("#navbar").outerHeight() - 20;
      $('#sidebar-pane').height(height);
      $('#content-pane').height(height);
      console.log("Height %d", height);
    }

    $(document).ready(function() {
      $(window).resize(onWindowResize);
      onWindowResize();
    });

